{% extends 'app1/sample.html' %}
{% block title %}
    
    <title>Registration</title>
{% endblock %}

{% block body_block %}
<center>

            <h2>Registration Form</h2>
               
    
      
       
            
                <form method="POST" 
                    {% csrf_token %}
                    
                        {{ufo.as_p}}
                    
                        <center><input type="submit" value="Register">
                        
                        
                </form>
      </center> 
          
{% endblock %}